<DOCTYPE html encoding="utf-8">
    <html lang="en-us">
        <head>
            <title>Bookstore Cart</title>
        </head>
        <body>
            <h1>Your Cart</h1>
            <ul>
                {%if cart%}
                    {% for book in cart %}
                        <li>{{ book.bookname }}<br>by {{ book.author }}<br>price - {{ book.price }}</li>
                    {% endfor %}
                {%endif%}
                {%if not cart%}
                    <p>Your cart is empty.</p>
                {%endif%}
                <form method = 'POST' action = '{%url "clear_cart"%}'>
                    {% csrf_token %}
                    <button type="submit">Clear Cart</button>
                </form>
            </ul>
            <p>Total Price: {{ total_price }}</p>
            <button type="submit" name='checkout'>Checkout</button>